%tr
  %td.code= waypoint.airport.code
  %td.name= waypoint.airport.name
  %td.country= waypoint.airport.country_name
  %td.latitude= waypoint.airport.latitude
  %td.longitude= waypoint.airport.longitude
  %td.distance= waypoint.distance
  %td.total= total_distance