!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %title= strip_tags "#{ yield(:title) } – #{ t('my.title') }"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', 'http://maps.googleapis.com/maps/api/js?sensor=false'
    = csrf_meta_tags
    = yield(:head)
  %body{ :class => @class }
    = content_tag :h1, yield(:title) if show_title?
    - flash.each do |name, msg|
      %p{ :class => "flash #{ name }" }
        %strong= raw msg
    = yield